
@{
    ViewBag.Title = "Rules";
}

<h2>Rules</h2>

<p>In this game mode, players pick 45 cards from 15-card boosters in order to build a 30-card 
    legal contructed play deck in Hearthstone. Here are the basic rules:
    <ul>
        <li>Draft can be started with 2-8 players.</li>
        <li>Each player is given three(3) 15-card boosters.</li>
        <li>Booster content is based on card propabilities from Hearthstone booster packs 
        (expected value of rarity is 3 rares per booster but theoretically it is possible to 
        get a booster with only commons or even only legendaries)</li>
        <li>Starting with the first booster, players pick one card from the booster and
            pass the rest to the player on their left.</li>
        <li>Previous step is repeated until first 15-card booster is empty. After each
            booster the direction where booster is passed changes, so the second round is passed 
            to the right and third round again to the left.</li>
        <li>Each player has 60 seconds to pick each card. <strong>*This feature is disabled for testing reasons at the moment*</strong></li>
        <li>After picking 45 cards, each player uses these cards to construct a legal 30-card deck in Hearthstone.</li>
        <li>After deck construction player play agains each other either using swiss play format or single elimination</li>
    </ul>
</p>

<p>
    Few reminders and special rules:
    <ul>
        <li>You can pick more than three copies of a single card but you cannot play more than two of them in your deck</li>
        <li>You can pick different class cards, but when building the deck you must choose and use only one class</li>
        <li>
            If you cannot construct a 30-card legal deck, the deck is to be filled with the following cards in the following order:
            <ul>
                <li>2x Wisp</li>
                <li>2x Target Dummy</li>
                <li>2x Murloc Raider</li>
                <li>2x Shieldbearer</li>
                <li>2x Voodoo Doctor</li>
            </ul>
        </li>
    </ul>
</p>

<h2>Additional information</h2>

<p>
    <ul>
        <li>Software is behind registration to control the usage. You do not need to use actual emails for registration.</li>
        <li>To get login credentials, contact <a>tero.hsdraft@gmail.com</a></li>
        <li>Site is under development, so maintenance and updates are to be expected</li>
        <li>Feedback and bug reports can also be submitted to <a>tero.hsdraft@gmail.com</a></li>
    </ul>
</p>